@charset "UTF-8";

.header {
    width: 100%;
    height: 64px;
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--two);
    background-repeat: no-repeat;
    background-size: auto 64px;
    background-position: -24px top;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4000 64"><defs><style> .cls-1 { fill: %23398245; } .cls-2 { fill: %23f2c43e; } .cls-3 { fill: %23fff; } .cls-4 { fill: none; } .cls-5 { fill: %23fedf00; } </style></defs><g><path class="cls-1" d="M298.01,64.11H0V0h165.28c68.59,6.86,81.92,56.14,132.73,64.11Z"/><path class="cls-3" d="M298.01,64.11h-167.33C94.72,56.27,85.42,6.72,36.87,0h128.41c68.59,6.86,81.92,56.14,132.73,64.11Z"/><path class="cls-5" d="M298.01,64.11h-25.71C230.26,56.14,219.21,6.87,162.45,0h2.83c68.59,6.86,81.92,56.14,132.73,64.11Z"/><path class="cls-2" d="M4000,0v64.11H298.01C247.2,56.14,233.87,6.86,165.28,0h3834.72Z"/><path class="cls-4" d="M345.89,64.11v.04H0V0h165.28c68.59,6.86,81.92,56.14,132.73,64.11h47.88Z"/></g><g><path id="Caminho_2641" data-name="Caminho 2641" class="cls-2" d="M201.26,20.48c-1.21,0-2.28.8-2.64,1.96l-3.02,9.63h-10.11c-1.21,0-2.28.78-2.66,1.93l-1.28,4.06h12.16l-3.64,11.6h4.26c1.21-.02,2.28-.81,2.64-1.97l3.02-9.63h10.1c1.21,0,2.29-.78,2.67-1.93l1.28-4.06h-12.17l3.64-11.6h-4.25Z"/><path id="Caminho_2642" data-name="Caminho 2642" class="cls-1" d="M129.01,21.64l-.81,2.6h23.46l.82-2.6h-23.47Z"/><path id="Caminho_2643" data-name="Caminho 2643" class="cls-1" d="M129.01,21.64l-.81,2.6h23.46l.82-2.6h-23.47Z"/><path id="Caminho_2644" data-name="Caminho 2644" class="cls-1" d="M174.39,32.48l7.16-7.14h-4.14l-4.44,4.4-2.32-4.4h-4.16l3.73,7.13-7.09,7.07h4.17l4.36-4.33,2.28,4.33h4.18l-3.72-7.05h0Z"/><path id="Caminho_2645" data-name="Caminho 2645" class="cls-1" d="M164.45,38.21h0s-1.74-12.88-1.74-12.88h-3.72s-8.74,13.57-8.74,13.57l-.4.62h3.47l2.04-3.16h5.33l.42,3.16h3.52l-.17-1.31ZM157.17,33.57l2.58-4.03.55,4.03h-3.13Z"/><path id="Caminho_2646" data-name="Caminho 2646" class="cls-1" d="M109.46,36.91h-4.29c-.5.04-1.01-.04-1.48-.23-.34-.14-.63-.38-.83-.68-.14-.23-.21-.5-.21-.78v-.02c0-.33.07-.66.18-.98l2.79-8.9h-3.96l-2.79,8.9c-.13.42-.23.85-.29,1.29-.02.16-.03.31-.04.47,0,.24.03.48.08.71.22,1.02.91,1.87,1.85,2.31,1.09.42,2.26.6,3.42.51h4.75l.82-2.62v.02Z"/><path id="Caminho_2647" data-name="Caminho 2647" class="cls-1" d="M137.67,26.06c-.65-.41-1.38-.66-2.15-.71h-.5s-7.18-.01-7.18-.01l-4.46,14.19h9.24c1.22-.06,2.38-.5,3.34-1.24.87-.64,1.5-1.56,1.8-2.6.09-.34.12-.69.1-1.04-.04-.86-.44-1.67-1.11-2.22.07-.05.25-.15.31-.19.79-.57,1.39-1.35,1.75-2.26l.12-.35h.01c.1-.39.14-.79.12-1.18-.08-.97-.6-1.84-1.4-2.38M133.97,35.43c-.15.43-.43.8-.79,1.06-.1.08-.21.15-.32.21-.17.09-.36.15-.55.18l-.19.02h-4.44l.95-3.02h4.3c.13,0,.25.02.37.06.15.05.3.13.41.24.04.03.07.07.1.11.04.04.07.09.1.14.06.11.1.23.12.35.03.22,0,.44-.06.66M135.75,29.77h-.02c-.26.74-.89,1.3-1.66,1.45l-.18.02h-4.45l.95-3.03h4.3c.13,0,.25.03.37.06.16.05.3.13.42.24.04.03.07.07.1.11.03.05.06.1.1.15.06.11.1.22.12.35.03.22,0,.44-.06.65"/><path id="Caminho_2648" data-name="Caminho 2648" class="cls-1" d="M153.43,28.36c-.17-.88-.68-1.65-1.41-2.16-.67-.47-1.45-.76-2.27-.84l-.5-.03h-7.23l-4.45,14.19h3.47l1.68-5.33c.41,0,1.35,0,2.37,0l1.96,5.33h3.45s-.23-.63-.23-.63l-1.78-4.81c.79-.14,1.55-.42,2.24-.82l.37-.24c1.15-.72,1.98-1.87,2.3-3.19.12-.49.13-.99.04-1.49M149.93,29.77h0c-.2.55-.6,1.01-1.12,1.27-.17.09-.35.15-.55.18-.05,0-.13.01-.18.02h-4.44l.95-3.03h4.31c.13,0,.25.03.37.06.16.05.3.13.42.24.04.03.07.07.1.11.03.05.06.1.09.15.06.11.1.22.12.35.03.22,0,.44-.06.65"/><path id="Caminho_2649" data-name="Caminho 2649" class="cls-1" d="M114.29,34.68c-.08.24-.12.49-.13.75-.01.42.18.83.52,1.08.55.32,1.19.47,1.83.41.69.07,1.39-.02,2.05-.24.71-.41,1.22-1.09,1.42-1.89l.22-.69,2.76-8.77h3.58l-3.01,9.59c-.63,1.91-1.59,3.35-3.19,4.14-1.47.72-2.1.63-4.65.63-1.8,0-3.01-.25-3.93-.95-.82-.58-1.31-1.52-1.33-2.52.01-.53.11-1.05.29-1.55l2.93-9.34h3.57l-2.82,9-.09.34h-.01Z"/><path id="Caminho_2650" data-name="Caminho 2650" class="cls-1" d="M139.09,46.07c-.08.4-.06,1.17,1.27,1.17.72,0,1.56-.17,1.73-.94.13-.56-.38-.72-1.11-.9l-.74-.18c-1.11-.28-2.19-.54-1.81-2.14.18-.81.95-2.24,3.31-2.24,2.23,0,2.49,1.46,2.29,2.35h-1.46c.04-.32.09-1.09-1.23-1.09-.58,0-1.31.21-1.47.87-.13.56.31.69.59.76l1.67.43c.94.24,1.76.65,1.45,1.95-.51,2.19-2.78,2.38-3.41,2.38-2.65,0-2.76-1.53-2.55-2.43h1.46Z"/><path id="Caminho_2651" data-name="Caminho 2651" class="cls-1" d="M147.14,48.31h-1.52l.63-2.74-1.47-4.53h1.79l.78,3.16,2.17-3.16h1.72l-3.48,4.54-.63,2.72h0Z"/><path id="Caminho_2652" data-name="Caminho 2652" class="cls-1" d="M151.58,46.07c-.08.4-.06,1.17,1.27,1.17.72,0,1.56-.17,1.73-.94.13-.56-.38-.72-1.11-.9l-.74-.18c-1.11-.28-2.19-.54-1.81-2.14.19-.81.95-2.24,3.31-2.24,2.23,0,2.49,1.46,2.29,2.35h-1.46c.04-.32.09-1.09-1.23-1.09-.58,0-1.31.21-1.47.87-.13.56.3.69.59.76l1.67.43c.94.24,1.76.65,1.45,1.95-.51,2.19-2.78,2.38-3.41,2.38-2.65,0-2.76-1.53-2.55-2.43h1.46,0Z"/><path id="Caminho_2653" data-name="Caminho 2653" class="cls-1" d="M159.62,48.31h-1.52l1.38-5.98h-2.19l.3-1.28h5.91l-.3,1.28h-2.19l-1.38,5.98h0Z"/><path id="Caminho_2654" data-name="Caminho 2654" class="cls-1" d="M169.44,42.33h-3.86l-.35,1.53h3.54l-.3,1.28h-3.54l-.43,1.88h4.03l-.3,1.28h-5.51l1.68-7.27h5.35l-.3,1.28h0Z"/><path id="Caminho_2655" data-name="Caminho 2655" class="cls-1" d="M176.44,48.31h-1.42l1.4-6.07h-.02l-2.76,6.07h-1.49l.08-6.07h-.02l-1.4,6.07h-1.42l1.68-7.27h2.21v5.73h.01l2.62-5.73h2.19l-1.68,7.27h.01Z"/></g></svg>');
    box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.25);
}

.footer {
    width: 100%;
    height: 64px;
    padding: 8px;
    position: fixed;
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--one);
    box-shadow: 0px 2px 16px 8px rgba(0, 0, 0, 0.25);
}
    .footer button {
        border: none;
        color: var(--one-high);
        font-size: var(--fs-xl);
        background-color: var(--one);
    }
    .footer button:hover { color: var(--one-soft); }

.wrapper {
    width: 100%;
    height: calc(100% - 128px);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 64px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* border: 1px dashed #000; */